@media screen and (max-width: 767px) {



    .wrapper {
        width: 300px;
    }
    .header {
        width: 300px;
    }

    .left {
        width: 100px;
    }

    .con-left-upper {
        width: 125px;
    }

    .con-left-lower {
        width: 125px;
    }

    .lower {
        width: 200px;
    }

    .con-right { 
        width: 75px; 
    }

    .footer {
        width: 300px;
    }

}

@media screen and (max-width: 479px) {

     .wrapper {
        width: 150px;
        float: none;
    }
    .header {
        width: 150px;
    }

    .left {
        width: 150px;
    }

    .con-left-upper {
        width: 150px;
    }

    .con-left-lower {
        width: 150px;
    }

    .lower {
        width: 150px;
    }

    .con-right { 
        width: 150px; 
    }

    .footer {
        width: 150px;
    }

}