


/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {

    .wrapper {
        width: 200px;
        float: none; /* 要素の浮動化の解除 */
    }
    
    .header {
        width: 200px;
        height: 190px;
    }
    .header-box{
        position: relative ;
        top: 20px;
        right: 100;
    }
    .right { 
        width: 200px; 
    }
    .right-box {
        position: relative ;
        top: 20px;
        left:-20px;
    }
    .left {
        width: 200px; 
    }
    .footer {
        width: 200px;
    }

}