body {
    min-height: 100%; 
    height: 100%;
  
}
.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.wrapper {
    width: 400px; 
    margin: 0 auto; 
/* wrapperクラスを中央寄せ */
}
.header { 
    height: 100px; 
    background-color: #141f40;
}
.left { 
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.con-left-upper {
    float: left;
    width: 150px; 
    height: 50px;
    background-color: #dbd400;
}
.con-left-lower {
    float: left;
    width: 150px; 
    height: 100px;
    background-color: #0093b7;
}
.lower {
    float: right;
    width: 250px; 
    height: 100px;
    background-color: #8c2727;
}
.con-right {
    float: right;
    width: 100px; 
    height: 150px;
    background-color: #ff9e6b;
}

.footer {
    height: 100px;
    background-color: #d98d30;
}