body {
    min-height: 100%; 
    height: 100%;
  
}
.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.wrapper {
    width: 400px; 
    margin: 0 auto; 
/* wrapperクラスを中央寄せ */
}
.header { 
    height: 100px; 
    background-color: #141f40;
}
#header-box {
    box-sizing: border-box;

}
.header-box{
    float: right;
    height:40px;
    width: 40px;
    border:  solid 10px white;
    position: relative ;
    top: 20px ;
    right: 20px;
    background-color: #a9004b;
}
.left { 
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.right { 
    float: right; 
    width: 250px; 
    height: 250px;
    background-color: #8c2727;
}
#right-box {
    box-sizing: border-box;
}
.right-box {
    float: right;
    width: 140px; 
    height: 40px;
    border: solid 5px white; 
    margin: 5px;
    position: relative ;
    top: 35px;
    right: 55px;
    background-color: #ff863f;
}


.footer {
    height: 100px;
    background-color: #d98d30;
}
* {
    margin: 0;
    padding: 0;
}